<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sb.android.myapplication" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" >
        </activity>
        <activity
            android:name=".mission.Mission01Activity"
            android:label="@string/title_activity_mission01" >
        </activity>
        <activity
            android:name=".mission.Mission02Activity"
            android:label="@string/title_activity_mission02" >
        </activity>
        <activity
            android:name=".activity.ActivityExamActivity"
            android:label="@string/title_activity_activity_exam" >
        </activity>
        <activity
            android:name=".activity.TargetActivity"
            android:label="@string/title_activity_target" >
        </activity>
        <activity
            android:name=".mission.Mission031Activity"
            android:label="@string/title_activity_mission031" >
        </activity>
        <activity
            android:name=".mission.Mission032Activity"
            android:label="@string/title_activity_mission032" >
        </activity>
        <activity
            android:name=".mission.Mission033Activity"
            android:label="@string/title_activity_mission033" >
        </activity>
        <activity
            android:name=".mission.Mission034Activity"
            android:label="@string/title_activity_mission034" >
        </activity>
        <activity
            android:name=".mission.Mission035Activity"
            android:label="@string/title_activity_mission035" >
        </activity>
        <activity
            android:name=".mission.Mission05Activity"
            android:label="@string/title_activity_mission05" >
        </activity>
        <activity
            android:name=".mission.Mission06Activity"
            android:label="@string/title_activity_mission06" >
        </activity>
        <activity
            android:name=".mission.Mission07Activity"
            android:label="@string/title_activity_mission07" >
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".thread.ThreadActivity"
            android:label="@string/title_activity_thread" >
        </activity>
        <activity
            android:name=".json.WeatherJson"
            android:label="@string/title_activity_weather" >
        </activity>
        <activity
            android:name=".fragment.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>
